<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ona.collect.android.team">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="org.odk.collect.android.permission.RECEIVE_BROADCASTS" />

    <application
        android:name=".application.TeamManagement"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MessagesActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_message" />
        </activity>

        <receiver android:name=".receivers.ActivityStateChangedReceiver">
            <intent-filter>
                <action android:name="org.odk.collect.android.action.ACTIVITY_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ConnectionSettingsChangedReceiver">
            <intent-filter>
                <action android:name="org.odk.collect.android.action.CONNECTION_SETTINGS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.FormStateChangedReceiver">
            <intent-filter>
                <action android:name="org.odk.collect.android.action.FORM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MessageOverlayService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.StartupService"
            android:enabled="true" />
        <service
            android:name=".services.ConnectionService"
            android:enabled="true" />
        <service
            android:name=".services.SubscriptionService"
            android:enabled="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />

    </application>

</manifest>